<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication | Login</title>
</head>
<body>
    
    <h1>User Authentication | Login</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ loginform.as_p }}

        <button type="submit">Log In</button>
        <p>Don't have an account? <a href="{% url 'register' %}">Register Here</a></p>
    </form>


</body>
</html>